/********** Template CSS **********/
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  opacity: 0% !important;
}

.fw-medium {
  font-weight: 500;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
  font-weight: 500;
}

.btn.btn-primary {
  font-size: 15px;
  padding: 1.35em !important;
}

.btn.btn-primary:hover {
  background-color: #30b01d; /* Changes the background color on hover */
  border-color: #30b01d;
}

.btn-primary,
.btn-outline-primary:hover {
  color: var(--bs-light);
}

.btn.btn-secondary {
  font-size: 15px;
  padding: 1.35em !important;
  background-color: #ffffff;
}

.btn-secondary:hover,
.btn-outline-secondary:hover {
  background-color: #30b01d !important;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 32px;
  height: 32px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-weight: normal;
}

.icon-box-primary,
.icon-box-light {
  position: relative;
  padding: 0 0 10px 10px;
  z-index: 1;
}

.icon-box-primary i,
.icon-box-light i {
  font-size: 60px;
  line-height: 0;
}

.icon-box-primary::before,
.icon-box-light::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  left: 0;
  bottom: 0;
  border-radius: 35px;
  transition: 0.5s;
  z-index: -1;
}

.icon-box-primary::before {
  background: var(--bs-primary);
}

.icon-box-light::before {
  background: var(--bs-light);
}

.btn-nkd {
  background: none;
  font-family: inter;
  font-size: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  color: #0c513f;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn-nkd:hover {
  color: #0c513f; /* Change text color on hover */
  cursor: pointer; /* Change cursor to indicate clickable */
  text-decoration: underline; /* Add underline to indicate it's a link */
  transform: scale(1.02); /* Slightly scale up on hover */
}

.carousel-item-bg {
  background: url("img/carousel-4.jpg") no-repeat center center;
  background-size: cover; /* This ensures the image covers the entire div */
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
  .carousel-item-bg {
    background-position: center; /* Adjust this value to focus on a specific part of the image */
    background-size: 150%; /* Adjust the background size as needed */
  }
  .mobile-top-padding {
    padding-top: 20px; /* Top padding for mobile screens */
  }
}

.nkd-icon {
  /* Style your icon here. For example: */
  font-size: 14px;
  color: #0c513f;
}
/*modal*/
.custom-modal-dialog {
  max-width: 90%; /* Responsive width */
}

.custom-modal-content {
  border-radius: 15px; /* Rounded corners */
}

.custom-modal-button {
  border-radius: 100px; /* Rounded corners for the button */
}

/* footer links*/
.footer-link {
  color: rgba(72, 67, 67, 0.75) !important;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-link.hover {
  color: #0c513f !important;
  text-decoration: underline;
}

#logo-image {
  display: none; /* Hide by default */
}

@media (max-width: 992px) {
  #logo-image {
    display: block; /* Show only on screens smaller than 992px */
  }
}

/*** Navbar ***/
.sticky-top {
  top: -100px;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-link {
  margin-right: 32px;
  padding: 20px 0;
  color: var(--bs-dark);
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav c .navbar .navbar-nav .nav-link.active {
  color: #0c513f;
  font-weight: 500 !important;
}

.nav-link.active {
  color: #0c513f !important; /* Or any green shade you prefer */
}

@media (max-width: 408px) {
  .navbar-nav .nav-link {
    font-size: 12px; /* Smaller font size */
    padding: 5px 10px; /* Reduced padding */
  }

  .navbar-brand img {
    max-width: 200px; /* Smaller logo width */
    height: auto; /* Maintain aspect ratio */
  }

  .navbar-toggler {
    padding: 5px; /* Smaller toggler padding */
  }

  /* Other styles as needed */
}

@media (min-width: 409px) and (max-width: 767px) {
  .navbar-nav .nav-link {
    font-size: 12px; /* Smaller font size */
    padding: 5px 10px; /* Reduced padding */
  }

  .navbar-brand img {
    max-width: 220px; /* Smaller logo width */
    height: auto; /* Maintain aspect ratio */
  }

  .navbar-toggler {
    padding: 5px; /* Smaller toggler padding */
  }

  /* Other styles as needed */
}

@media (min-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 12px; /* Smaller font size */
    padding: 5px 10px; /* Reduced padding */
  }
  .navbar-toggler {
    padding: 5px; /* Smaller toggler padding */
  }

  /* Other styles as needed */
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 24px;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  .sticky-top {
    margin-top: -34px;
  }

  .navbar {
    height: 68px;
  }

  @media (min-width: 1024px) and (max-width: 1285px) {
    .navbar {
      width: 100%; /* Adjust this value as needed */
      margin: 0 auto; /* This centers the navbar if it's not full width */
    }
    /* Additional styles if needed */
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
@media (min-width: 992px) {
  .header-carousel,
  .page-header {
    margin-top: -34px;
  }
}

/***custm testimonials ***/
.testimonial-section {
  padding: 50px;
  text-align: center;
  border-radius: 40px;
}

.testimonial-header {
  color: #0c513f !important;
}

#testimonialCarousel {
  height: 300px; /* Example height, adjust as necessary */
}

.testimonial-card {
  padding: 20px;
  margin: 0 auto; /* Centering the card */
  max-width: 800px; /* Adjust max-width as needed */
  min-width: 300px;
}

.testimonial-text {
  font-size: 1rem !important;
  color: #555;
}

.testimonial-author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.author-details {
  text-align: center;
}

.author-name {
  margin: 0;
  color: #333;
}

.author-title {
  margin: 0;
  font-size: 0.85em;
  color: #666;
}

.testimonial-control-prev-icon,
.testimonial-control-next-icon,
.testimonial-control-prev span,
.testimonial-control-next span {
  background-image: none; /* Remove default arrows */
  color: #0c513f; /* Apply your color */
  font-size: 20px; /* Adjust size as needed */
}

.testimonial-control-prev,
.testimonial-control-next {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 100; /* Ensure they are above other content */
}

.testimonial-control-prev {
  left: 10px; /* Adjust as needed */
}

.testimonial-control-next {
  right: 10px; /* Adjust as needed */
}

/* Custom CSS for Carousel Arrows on Small Screens */
@media (max-width: 767px) {
  .testimonial-control-prev,
  .testimonial-control-next {
    position: absolute;
    top: 50%; /* Align vertically */
    transform: translateY(-50%);
  }

  .testimonial-control-prev {
    left: -30px; /* Align to the left edge */
  }

  .testimonial-control-next {
    right: -30px; /* Align to the right edge */
  }

  .testimonial-text {
    font-size: 14px !important;
    color: #555;
  }
  .testimonial-card {
    padding: 20px;
    margin: 0 auto; /* Centering the card */
    min-width: 200px;
  }
}

/*** end ***/

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(3, 27, 78, 0.3);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3.5rem;
}

@media (max-width: 767.98px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  /*background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
    url(../img/testimonial.jpg) center center no-repeat;
    background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  border-radius: 20px;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
  font-size: 18px;
  color: var(--bs-white);
}

.page-header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33787d;
  border-radius: 40px;
  width: 93%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .page-header2 {
    margin-top: 25px !important;
  }
}

/*** Features ***/
.feature {
  background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
    url(../img/feature.jpg) left center no-repeat;
  background-size: cover;
}

.feature-row {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.feature-item {
  border-color: rgba(0, 0, 0, 0.03) !important;
}

.experience .progress {
  height: 5px;
}

.experience .progress .progress-bar {
  width: 0px;
  transition: 3s;
}

.experience .nav-pills .nav-link {
  color: var(--dark);
}

.experience .nav-pills .nav-link.active {
  color: #ffffff;
}

.experience .tab-content hr {
  width: 30px;
}

/*** About ***/
.about-fact {
  width: 220px;
  height: 220px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  .about-fact.mt-n130 {
    margin-top: -130px;
  }
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 36px;
  height: 46px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  background: var(--bs-primary);
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: var(--bs-primary);
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: var(--bs-primary);
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: 3px;
  border-left: 30px solid #ffffff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}
body {
  font-family: "Inter", sans-serif;
}

.modal-video .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

.modal-video .modal-body {
  position: relative;
  padding: 0px;
}

.modal-video .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** Awards ***/
.awards-images {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 1rem;
}

/*** Service ***/
.container-service {
  position: relative;
}

.container-service::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
  z-index: -1;
}

.service-item {
  position: relative;
  height: 100%;
  padding: 5px 5px;
  border-radius: 20px;
  background: var(--bs-white);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
  color: #000 !important;
}

.service-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.service-item:hover::before {
  height: 100%;
  top: 0;
}

.service-item * {
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

.service-text {
  color: var(--bs-gray-dark) !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 131%; /* 20.96px */
  letter-spacing: -0.16px;
}

.pform-title {
  color: #2e2f35 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 151%; /* 20.96px */
  letter-spacing: -0.16px;
}

.bod-sm {
  color: #2e2f35 !important;
  font-family: Inter;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.service-item:hover h5,
.service-item:hover p {
}

.service-item:hover .icon-box-primary::before {
  background: var(--bs-dark);
}

.service-item:hover .icon-box-primary i {
  color: var(--bs-white) !important;
}

/*** Team ***/
.container-team {
  position: relative;
}

.container-team::before {
  position: absolute;
  content: "";
  background: var(--bs-light);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  clip-path: polygon(0 70%, 100% 30%, 100% 100%, 0% 100%);
  z-index: -1;
}

.team-item {
  background: var(--bs-white);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

.team-item .team-social {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.5s;
  background: var(--bs-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-item:hover .team-social {
  width: 100%;
  left: 0;
}

.team-item .team-social .btn {
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-social .btn {
  opacity: 1;
}

/*** Contact ***/
@media (min-width: 992px) {
  .contact-info::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0;
    left: 50%;
    border-left: 1px dashed rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 991.98px) {
  .contact-info::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 50%;
    left: 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
  }
}

/*** Footer ***/
.footer {
  /*background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
    url(../img/footer.png) center center no-repeat;*/
  background-size: contain;
}

@media (min-width: 992px) {
  .footer::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0;
    left: 50%;
    border-left: 1px dashed rgba(255, 255, 255, 0.2);
  }
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--bs-primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.copyright {
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.copyright a {
  color: var(--bs-white);
}

.copyright a:hover {
  color: var(--bs-primary);
}
